<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.tapdatapp.tapandroid" >

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name=".TapApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_activity_arm"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="tapdat/performer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TagActivity"
            android:label="@string/title_activity_tag"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.tapdatapp.tapandroid.MainActivity" />
        </activity>
        <activity
            android:name=".WriteActivity"
            android:label="@string/title_activity_write"
            android:parentActivityName=".TagActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.tapdatapp.tapandroid.TagActivity" />
        </activity>
        <activity android:name=".AccountStartActivity" >
        </activity>
        <activity
            android:name=".currency.BalancesActivity"
            android:label="@string/title_activity_balances" >
        </activity>
        <activity android:name=".history.HistoryActivity">
        </activity>
    </application>

</manifest>
